<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Admin Page
        </title>
        <link rel="stylesheet" href="/css/admin.css">
    </head>
    <body>
        <div id="container">
            <div id="loggedin">
                <span>Logged in as: </span>
                <hr>
                <span id="name"><b><%= name %></b></span>
            </div>
            <div id="options">
                <select id="selectoption">
                    <option value="1">Users</option>
                    <option value="2">Notes</option>
                    <option value="3">Report</option>
                    <option value="4">Delete Notes</option>
                    <option value="5">Question Papers</option>
                </select>
            </div>
            <div id="list_div">
                <div id="userdiv" class="alldiv">
                    <ul id="user" class="allul">
                        <li class="list list_title">USERS</li>
                        <li class="list">user 1</li>
                        <li class="list">user 2</li>
                        <li class="list">user 3</li>
                        <li class="list">user 4</li>
                        <li class="list">user 5</li>
                    </ul>
                </div>
                <div id="notesdiv" class="alldiv">
                    <ul id="notes" class="allul">
                        <li class="list list_title">NOTES</li>
                        <li class="list">note 1</li>
                        <li class="list">note 2</li>
                        <li class="list">note 3</li>
                        <li class="list">note 4</li>
                        <li class="list">note 5</li>
                    </ul>
                </div>
                <div id="reportdiv" class="alldiv">
                    <ul id="report" class="allul">
                        <li class="list list_title">REPORT</li>
                        <li class="list">report</li>
                        <li class="list">report</li>
                        <li class="list">report</li>
                        <li class="list">report</li>
                        <li class="list">report</li>
                    </ul>
                </div>
                <div id="deletetdiv" class="alldiv">
                    <ul id="delete" class="allul">
                        <li class="list list_title">DELETE NOTES</li>
                        <li class="list">delete</li>
                        <li class="list">delete</li>
                        <li class="list">delete</li>
                        <li class="list">delete</li>
                        <li class="list">delete</li>
                    </ul>
                </div>
                <div id="questiontdiv" class="alldiv">
                    <ul id="question" class="allul">
                        <li class="list list_title">QUESTION PAPERS</li>
                        <li class="list">question</li>
                        <li class="list">question</li>
                        <li class="list">question</li>
                        <li class="list">question</li>
                        <li class="list">question</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
