<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Branch</title>
        <link rel="stylesheet" href="/css/branch-cards2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <style>
              .logout{
    color:white !important;
}
    .active { color: red; }
@media (min-width: 767px){
.logout{
    color:black;
    position:relative;
    left:10vw;
    font-weight:700;
}
        </style>
    </head>
    <body style="overflow-x: hidden;">

        <nav class="navbar">
            <a href="/users/home" class="logo">Resource Hub</a>
            <!-- <input type="checkbox" id="chkToggle"></input> -->
            <ul class="main-nav" id="js-menu">
              <li>
                <a href="/users/home" class="nav-links">Home</a>
              </li>
              <li>
                <a href="/users/home#about" class="nav-links">About</a>
              </li>
              <li>
                <a href="/profile" class="nav-links"></i>Profile</a>
              </li>
              <li>
                <a href="/users/branch" class="nav-links active">Notes</a>
              </li>
              <li>
                <a href="/users/home#contact" class="nav-links">Contact Us</a>
              </li>
              <li>
                <a href="/users/logout" class="nav-links logout">Logout</a>
              </li>
            </ul>
            <div id="navtoggle"> <i class="fas fa-bars"></i> </div> 
          </nav>
            

            

          <div id="smallnavbar">
            <ul class="smallmain-nav" id="smalljs-menu">
                <li>
                  <a href="/users/home" class="nav-links smallnav">Home</a>
                </li>
                <li>
                  <a href="/users/home#about" class="nav-links smallnav">About</a>
                </li>
                <li>
                    <a href="/profile" class="nav-links smallnav">Profile</a>
                  </li>
                <li>
                  <a href="/users/branch" class="nav-links smallnav active">Notes</a>
                </li>
                <li>
                  <a href="/users/home#contact" class="nav-links smallnav">Contact Us</a>
                </li>
                <li>
                    <a href="/users/logout" class="nav-links smallnav">Logout</a>
                  </li>
              </ul>
        </div>


        <div class="grid-container">
            <div class="container1 grid-item">
                <div class="box box-1">
                    <div class="cover"><img src="/img/1_UYV-gWa2_IYLFvISQl8Vkw.jpeg" alt=""></div>
                    <a href="/users/branch/semester?branch=CSE"><button class="button-style"><div></div></button></a>
                </div>
            </div>
            <div class="container2 grid-item">
                <div class="box box-2">
                    <div class="cover"><img src="/img/analog-integrated-circuit.jpg" alt=""></div>
                        <a href="/users/branch/semester?branch=ECE"><button class="button-style"><div></div></button></a>
                </div>
            </div>
            <div class="container3 grid-item">
                <div class="box box-3">
                    <div class="cover"><img src="/img/electrical-engineering-image.webp" alt=""></div>
                    <a href="/users/branch/semester?branch=EE"><button class="button-style"><div></div></button></a>
                </div>
            </div>
            <div class="container4 grid-item">
                <div class="box box-4">
                    <div class="cover"><img src="/img/1568628323phplcvsyh.jpeg" alt=""></div>
                    <a href="/users/branch/semester?branch=ME"><button class="button-style"><div></div></button></a>
                </div>
            </div>
            <div class="container5 grid-item">
                <div class="box box-5">
                    <div class="cover"><img src="/img/civil.jpg" alt=""></div>
                    <a href="/users/branch/semester?branch=CE"><button class="button-style"><div></div></button></a>
                </div>
            </div>
            <div class="container6 grid-item">
                <div class="box box-6">
                    <div class="cover"><img src="/img/main-qimg-1e19dc5cf184f08d1c3378d7fa3cf5c9.jpg" alt=""></div>
                    <a href="/users/branch/semester?branch=EIE"><button class="button-style"><div></div></button></a>
                </div>
            </div>
        </div>

        <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="grid-footer">
            <!-- <div class="row"> -->
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Developers</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Ankit Srivastava</a></li>
                            <li><a href="">Ujjawal Jain</a></li>
                            <li><a href="">Anuva Bhattacharjee</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Popular Notes</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Recent Uploads</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Newbie 1</a></li>
                            <li><a href="">Newbie 2</a></li>
                            <li><a href="">Newbie 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Most Downloaded</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Popular Profiles</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Topper Nibba 1</a></li>
                            <li><a href="">Topper Nibba 2</a></li>
                            <li><a href="">Topper Nibba 3</a></li>
                        </ul>
                    </div>
                </div>
            <!-- </div> -->
            <hr>
        </div>
    </footer>
    <!--::footer_part end::-->

    <script type="text/javascript" src="/js/branch-cards2.js"></script>
<!--     <script>
        
        function myFunction(){
         var x = document.getElementById("profilediv");
         if(x.style.display == "none"){
            x.style.display = "block";
         } else {
            x.style.display = "none";
         }
        }
        
        
    </script> -->
<!-- <script>
var arr = document.getElementsByTagName("li");

for(var i=0; i<arr.length; i++){
    arr[i].addEventListener("click", function(){
    
            for(var j=0; j<document.getElementsByTagName("li").length; j++){
                document.getElementsByTagName("li")[j].className = "";
                event.target.className = "";
            };
    
        event.target.className = "active"
    });
}
</script> -->
<script>
$(function(){
    var current = location.pathname;
    $('#js-menu li a').each(function(){
        var $this = $(this);
        // if the current path is like this link, make it active
        if($this.attr('href').indexOf(current) !== -1){
            $this.addClass('active');
        }
    })
})
</script>
    </body>
</html>