<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Resource Hub</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index2.css">
    <style>
    	form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}
.developers-details{
    font-size:1rem;
    position:relative;
    top:1vh;
    color:black !important;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
.logo-text{
    font-size: 2rem;
    color: white !important;
    font-weight: 500;
    letter-spacing: 1px;
}
.footer_part{font-size: 1.3rem;}
.main_menu .main-menu-item ul li .nav-link {
    font-size: 1.1rem;
   }
   .button{
    font-size: 1.1rem;
    font-weight: 600;
   }
  .btn_2{
    font-size:1.1rem;
  }
  @media (min-width: 767px) {
  p{
    font-size: 1.1rem;
    color: #464646;
  }
  .mobile-view{
    display:none;
}
}
 @media (max-width: 767px){
     .menu_fixed .main_logo{
        position: relative;
    left: 0vw;
    top:-1.5vh;;
}
.main_menu{
    background:#562FC7 !important;
}
.mobile-view{
    display:inline-block;
}
.profileicon{
        position: relative;
    left: -10vw;
    top: -3vh;
}
.menu_icon:after{
    color:white !important;
 } 
}

.active { color: red; }
.logout{
    background: transparent;
    color: black !important;
}
@media (min-width: 767px){
.logout{
    background-color: #ff4800;
    color: white !important;
    position:relative;
    font-size:1.3rem !important;
    font-weight:700;
    float: right;
    left: 85vw;
    position: fixed;
    padding: 10px 35px;
    margin-top: 20px;
}
.profile-img{display:none;}
}
@media (max-width: 991px){
.navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 55px;;
}
}
.search-view{
	    position: absolute;
    width: 100%;
    top: 10vh;
    left: 0vw;
    display:none;
    border-radius:15px;
    background:white;
     box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2), 0 20px 25px 0 rgba(0, 0, 0, 0.2); 
}
.search-view li{
	padding: 10px;
    width: 100%;
    display: block;
    font-weight:600;
}
.search-view li a{
	color:black !important;
	font-size:1.2rem;
	padding:2vh 2vw;
}
.mobile-view{
	display:none;
}
@media (max-width: 360px){
	.search-view{top:9vh;}
}
@media (max-width: 767px){
	.mobile-view{
	display: block;
    position: relative;
    top: -1.5vh;
    left: -20vw;
    width: 50vw;
	}
    .mobile-search{display:none;}
    }
	.search-view{
		width: 50vw;
    top: 7vh;
    left: 0vw;
    display: none;
    border-radius:0;
	}
	.mobile-view label{
    position: absolute;
    left: 14px;
    top: 2.5vh;
}

    .profile-img img{
    width: 11vw;
    height: 6vh;
    position: relative;
    top: -1.3vh;
    left: 2vw;
    border-radius: 50%;
    }
}	
.mobile-view:focus label{
	display:none;
}
    </style>
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- <a class="navbar-brand main_logo logo-text" href="/users/home">Resource Hub</a>
                        <a class="navbar-brand single_page_logo logo-text" href="/users/home">Resource Hub</a> -->
                        <div class="profile-img">
                            <img src="/img/ujjawal.jpg">
                        </div>
                          <div class="mobile-view">
                                <div><label><i class="fa fa-search" aria-hidden="true"></i></label>
                                	<input type="text" id="search1" class="fontAwesome" placeholder="Search" onkeyup="search1()" style="padding-left:35px;"></div>
                                <div class="search"></div>
                                <ul class="search-view" id="search_list1">
                                	<li><a href="">Topper</a></li>
                                	<li><a href="">Topnkxsper</a></li>
                                	<li><a href="">Topacsper</a></li>
                                	<li><a href="">Toppxaer</a></li>
                                	<li><a href="">Topxper</a></li>
                                	<li><a href="">Topxczper</a></li>
                                	<li><a href="">Topczxper</a></li>

                              </ul>
                          </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav" id="navs">
                                <li class="nav-item">
                                    <a class="nav-link" href="/" style="color:red;">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/#about">About</a>
                                </li>
                                <% if(flag==1){ %>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/profile"></i>Profile</a>
                                    </li>
                                <% } %>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="/users/branch">Notes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#contact">Contact Us</a>
                                </li>
                                <li class="nav-item mobile-search">
                                 <div class="searchcontainer">
                                <input type="text" id="search" placeholder="Search..." onkeyup="search()">
                                <div class="search"></div>
                                <ul class="search-view" id="search_list">
                                	<li><a href="">Topper</a></li>
                                	<li><a href="">Topnkxsper</a></li>
                                	<li><a href="">Topacsper</a></li>
                                	<li><a href="">Toppxaer</a></li>
                                	<li><a href="">Topxper</a></li>
                                	<li><a href="">Topxczper</a></li>
                                	<li><a href="">Topczxper</a></li>

                              </ul>
                          </div>
                      </li>
                                <% if(flag==1){ %>
                                    <li class="nav-item">
                                        <a href="/users/logout" class="  btn_1 home_page_btn button logout">Logout</a>
                                    </li>
                                <% } %>
                                
                                
                                
                            </ul>
                        </div>
                        <% if(flag==0){ %>
                            <a href="/users/signup" class="d-none d-sm-block btn_1 home_page_btn button"id="one" style="left: 10vw;position: relative;">Login</a>
                        <% } %>
                        
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!--::Header part end::-->

    <!--::banner part start::-->
    <section class="banner_part" id="home">
        <div class="container">
           <div class="row align-items-center justify-content-between">
                <div class="col-lg-5">
                    <div class="banner_img d-none d-lg-block">
                        <img src="/img/banner_img.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1 id="resource_hub">RESOURCE HUB</h1>
                            <p>Notes, Textbooks, Lab Records... Everything at one place !</p>
                          <!--   <div class="searchcontainer">
                                <input type="text" id="search" placeholder="Search..." onkeyup="search()">
                                <div class="search"></div>
                                <ul class="search-view" id="search_list">
                                	<li><a href="">Topper</a></li>
                                	<li><a href="">Topnkxsper</a></li>
                                	<li><a href="">Topacsper</a></li>
                                	<li><a href="">Toppxaer</a></li>
                                	<li><a href="">Topxper</a></li>
                                	<li><a href="">Topxczper</a></li>
                                	<li><a href="">Topczxper</a></li>

                              </ul>
                          </div> -->
                            <% if(flag==0){ %>
                                <a href="/users/signup" class="btn_1 home_page_btn button"id="one">Login</a>
                            <% } %>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <img src="/img/animate_icon/Ellipse_7.png" alt="" class="feature_icon_1 custom-animation1">
        <img src="/img/animate_icon/Ellipse_8.png" alt="" class="feature_icon_2 custom-animation2">
        <img src="/img/animate_icon/Ellipse_1.png" alt="" class="feature_icon_3 custom-animation3">
        <img src="/img/animate_icon/Ellipse_2.png" alt="" class="feature_icon_4 custom-animation4">
        <img src="/img/animate_icon/Ellipse_3.png" alt="" class="feature_icon_5 custom-animation5">
        <img src="/img/animate_icon/Ellipse_4.png" alt="" class="feature_icon_6 custom-animation6">
    </section>
    <!--::banner part end::-->

    <!--::about_us part start::-->
    <section class="about_us section_padding" id="about">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 col-lg-5">
                    <div class="about_us_text">
                        <h2>What is <br>
                            Resource Hub?</h2>
                        <p>Resource Hub is a common platform for uploading and downloading various notes, books etc related to our Institute 
                            Curriculum. Students having any kind of study materials or textbooks can upload them in PDF or Word Document form in 
                            this website, while the others can download them anytime according to their requirement. With joint efforts of all the
                             students, this Resource Hub can be turned into an effective solution to our academic queries.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="learning_img">
                        <img src="/img/about_img.png" alt="" id="imagedesktop">
                        <img src="/img/banner_img.png" alt="" id="imagemobile">
                    </div>
                </div>
            </div>
        </div>
        <img src="/img/animate_icon/Ellipse_4.png" alt="" class="feature_icon_1 custom-animation1">
    </section>
    <!--::about_us part end::-->

    <!--::about_us part start::-->
    <section class="about_us right_time">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 col-lg-6">
                    <div class="learning_img">
                        <img src="/img/about_img_1.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="about_us_text">
                        <img src="/img/icon/Icon_2.png" alt="">
                        <h2>Perks of using Resource Hub</h2>
                        <p>1. Resource Hub provides a hassle-free upload procedure where you just need to log in to your profile and upload any
                             notes in PDF, Doc, PPT, DOCX Format. <br>
                            2. It has an easy-to-use User Interface where you can easily locate study materials of any particular subject you are 
                            looking for.<br>
                            3. A Rating System has been provided for the notes uploaded which will help you identify the better ones.<br>
                            4. Apart from downloading and uploading user can also request for a particular note.<br>
                            5. User's upload and download count is also to be displayed in the profile section.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <img src="/img/animate_icon/Ellipse_5.png" alt="" class="feature_icon_2 custom-animation2">
    </section>
    <!--::about_us part end::-->
    <!--::client logo part end::-->
    <hr id="contacthr">

    <!-- Contact Form-->
    <section class="contact-section section_padding" id="contact">
        <!-- <div> -->
            <!-- <div class="col-20"> -->
              <h2 class="contact-title">Get in Touch</h2>
              <div style="margin-bottom: 8vh;
              text-align: center;
              font-size: 3vh;
              text-decoration: underline;">
                <%= message != '' ? message : '' %>
            </div>
            <!-- </div> -->
            <!-- <div class="col-lg-6"> -->
              <form class="form-contact contact_form" action="/contactus" method="post" id="contactForm">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
    
                      <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'"
                        placeholder='Enter Message' required></textarea>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control" name="name" id="name" type="text" value="<%= typeof user != 'undefined' ? user.name : '' %>"onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'"
                      placeholder='Enter Name' readonly="readonly">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control" name="email" id="email" type="email" value="<%= typeof user != 'undefined' ? user.email : '' %>" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email'"
                      placeholder='Enter Email' readonly="readonly">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter Subject'" placeholder='Enter Subject' required>
                    </div>
                  </div>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="button button-contactForm btn_1">Send Message <i class="flaticon-right-arrow"></i> </button>
                </div>
                
              </form>
    </section>
    

    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Developers</h4>
                        <ul class="list-unstyled">
                            <li><a href="/developers">Ankit Srivastava</a></li>
                            <li><a href="/developers">Ujjawal Jain</a></li>
                            <li><a href="/developers">Anuva Bhattacharjee</a></li>
                            <li><a href="/developers" class="developers-details">Know More About Developers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Popular Notes</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Recent Uploads</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Newbie 1</a></li>
                            <li><a href="">Newbie 2</a></li>
                            <li><a href="">Newbie 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Most Downloaded</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Popular Profiles</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Topper Nibba 1</a></li>
                            <li><a href="">Topper Nibba 2</a></li>
                            <li><a href="">Topper Nibba 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
    </footer>
    <!--::footer_part end::-->
    <!-- jquery plugins here-->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/js/custom.js"></script>
    <script>
    	const search = ()=>{
    		let filter = document.getElementById('search').value.toUpperCase();
    		let searchList = document.getElementById('search_list');
    		let li = searchList.getElementsByTagName('li');
    		for(var i=0; i<li.length;i++){
    			let a = li[i].getElementsByTagName('a')[0];

    			let textValue = a.textContent || a.innerHTML;
    			if(textValue.toUpperCase().indexOf(filter) > -1){
    				li[i].style.display = " ";
    				searchList.style.display = "block";
    			}
    			else{
    				li[i].style.display = "none";
    				searchList.style.display = "none";
    			}
    		}

    	}
    </script>
    <script>
    	    	const search1 = ()=>{
    		let filter = document.getElementById('search1').value.toUpperCase();
    		let searchList = document.getElementById('search_list1');
    		let li = searchList.getElementsByTagName('li');
    		for(var i=0; i<li.length;i++){
    			let a = li[i].getElementsByTagName('a')[0];

    			let textValue = a.textContent || a.innerHTML;
    			if(textValue.toUpperCase().indexOf(filter) > -1){
    				li[i].style.display = " ";
    				searchList.style.display = "block";
    			}
    			else{
    				li[i].style.display = "none";
    				searchList.style.display = "none";
    			}
    		}

    	}
    </script>
    <script>
    	$(document).click(function(event) { 
  $target = $(event.target);
  if(!$target.closest('#search_list').length && 
  $('#search_list').is(":visible")) {
    $('#search_list').hide();
  }        
});
    </script>
    <script>
    	$(document).click(function(event) { 
  $target = $(event.target);
  if(!$target.closest('#search_list1').length && 
  $('#search_list1').is(":visible")) {
    $('#search_list1').hide();
  }        
});
    </script>

</body>

</html>