<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Resource Hub</title>
  <link rel="stylesheet" href="/css/team.css">
  <link rel="stylesheet" href="/css/branch-cards2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="icon" href="/img/favicon.png">
       <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
.navbar {
  top: 0vh;
  left:0vw;
  position:fixed;
}
#smallnavbar{left: 0;}
</style>
</head>
<body>
          <nav class="navbar">
            <a href="/" class="logo">Resource Hub</a>
            <!-- <input type="checkbox" id="chkToggle"></input> -->
            <ul class="main-nav" id="js-menu">
              <li>
                <a href="/" class="nav-links">Home</a>
              </li>
              <li>
                <a href="/#about" class="nav-links">About</a>
              </li>
              <li>
                <a href="/profile" class="nav-links"></i>Profile</a>
              </li>
              <li>
                <a href="/users/branch" class="nav-links active">Hub</a>
              </li>
              <li>
                <a href="/#contact" class="nav-links">Contact Us</a>
              </li>
              <!-- <li>
                <a href="/users/logout" class="nav-links logout">Logout</a>
              </li> -->
            </ul>
            <div id="navtoggle"> <i class="fas fa-bars"></i> </div> 
          </nav>
            

            

          <div id="smallnavbar">
            <ul class="smallmain-nav" id="smalljs-menu">
                <li>
                  <a href="/" class="nav-links smallnav">Home</a>
                </li>
                <li>
                  <a href="/#about" class="nav-links smallnav">About</a>
                </li>
                <li>
                    <a href="/profile" class="nav-links smallnav">Profile</a>
                  </li>
                <li>
                  <a href="/users/branch" class="nav-links smallnav active">Hub</a>
                </li>
                <li>
                  <a href="/#contact" class="nav-links smallnav">Contact Us</a>
                </li>
                <!-- <li>
                    <a href="/users/logout" class="nav-links smallnav">Logout</a>
                  </li> -->
              </ul>
        </div>
      </nav>
  <section class="team-section">
     <div class="container">
         <div class="row">
             <div class="section-title">
                 <h1>Our Team</h1>
             </div>
         </div>
         <div class="row">
             <div class="team-items">
                  <div class="item">
                      <img src="/img/ankit.jpg" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Ankit Srivastava</h5>
                               <p>DSC Senior Developer</p>
                               <div class="social-links">
                                   <a href="https://facebook.com/ankitsri215"><span class="fa fa-facebook"></span></a>
                                   <a href="https://github.com/ank-21"><span class="fa fa-github"></span></a>
                                   <a href="https://www.linkedin.com/in/ankit-srivastava-oa68oa/"><span class="fa fa-linkedin"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="/img/ujjawal.jpg" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Ujjawal Jain</h5>
                               <p>DSC Junior Developer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/jainujjawal1999"><span class="fa fa-facebook"></span></a>
                                   <a href="https://github.com/ujjawal-1999"><span class="fa fa-github"></span></a>
                                   <a href="https://www.linkedin.com/in/jainujjawal1999/"><span class="fa fa-linkedin"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="/img/anuva.jpeg" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Anuva Bhattacharjee</h5>
                               <p>DSC Junior Developer</p>
                               <div class="social-links">
                                   <a href="https://m.facebook.com/anuva.bhattacharjee.37"><span class="fa fa-facebook"></span></a>
                                   <a href="https://github.com/anuva04"><span class="fa fa-github"></span></a>
                                   <a href="https://www.linkedin.com/in/anuva-bhattacharjee-2923b5170/"><span class="fa fa-linkedin"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
             </div>
         </div>
     </div>
  </section>
   <footer class="footer_part" style="overflow-x:hidden;">
        <div class="grid-footer">
            <!-- <div class="row"> -->
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Developers</h4>
                        <ul class="list-unstyled">
                            <li><a href="/developers">Ankit Srivastava</a></li>
                            <li><a href="/developers">Ujjawal Jain</a></li>
                            <li><a href="/developers">Anuva Bhattacharjee</a></li>
                            <li><a href="/developers" class="developers-details">Know More About Developers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Popular Notes</h4>
                        <ul class="list-unstyled">
                            <!-- <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Recent Uploads</h4>
                        <ul class="list-unstyled">
                            <!-- <li><a href="">Newbie 1</a></li>
                            <li><a href="">Newbie 2</a></li>
                            <li><a href="">Newbie 3</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Most Downloaded</h4>
                        <ul class="list-unstyled">
                            <!-- <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li>
                            <li><a href="">Topper ke Notes</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Popular Profiles</h4>
                        <ul class="list-unstyled">
                            <!-- <li><a href="">Topper Nibba 1</a></li>
                            <li><a href="">Topper Nibba 2</a></li>
                            <li><a href="">Topper Nibba 3</a></li> -->
                        </ul>
                    </div>
                </div>
            <!-- </div> -->
            <hr>
        </div>
    </footer>
    <!--::footer_part end::-->
    <script type="text/javascript" src="/js/branch-cards2.js"></script>
</body>
</html>
