* {
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 30px;
    margin: auto;
}

@media only screen and (max-width : 1150px){
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 30px;
        margin: auto;
    }
}

@media only screen and (max-width : 950px){
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 30px;
        margin: auto;
    }
}
@media only screen and (max-width : 600px){
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 15px;
        margin: auto;
    }
}

@media only screen and (max-width : 570px){
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 15px;
        margin: auto;
    }
}

.container1 {
    /* width: 16.5vw;
    height: 48.5vh; */
    width: 250px;
    height: 350px;
    background: #2e517d;
    /* position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%); */
    perspective: 1000px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.8);
    /* margin: 20px; */
    margin: 20px auto;
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.cover {
    /* width: 14vw;
    height: 48.5vh; */
    width: 234px;
    height: 350px;
    top: 0vh;
    position: absolute;
    /* left: 2.5vw; */
    left: 15px;
    background-color: #345b8c;
    transform: rotateY(12deg);
    transform-style: preserve-3d;
    transform-origin: left;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    transition: all .5s ease-in-out;
}

.container1:hover .cover {
    transform: rotateY(-180deg);
}

figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

figure.front {
    background: linear-gradient(to top right, cornflowerblue, purple);
}

figure.back {
    background: cornflowerblue;
    transform: rotateY(180deg);
}
.heading1{
    display: flex;
    position: relative;
    top: 20vh;
    margin-top: auto;
    font-size: 2rem;
    align-self: center;
    color: white;
    justify-content: center;
}

.sem {
    color: purple;
    background: white;
    width: 38px;
    left: 100px;
    margin-top: 10px;
    border-radius: 50%;
}
.content{
    top: 10vh;
    font-size: 1.3rem;
    text-align: center;
    line-height: 3rem;
    color: white;
    justify-content: center;
    left: 10px;
    position: relative;
}

.notes {
    border: 2px solid white;
    background: white;
    width: 150px;
    left: 50px;
    border-radius: 50px;
    margin-top: 20px;
}
.notes a{
    color: purple;
}
.notes:hover{
    
    color: red;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.notes a:hover{
    color: red;
}

.footer_part {
    background-color: #E9E2FF;
    text-align: center;
    font-size: 1.2em;
    padding-top: 50px;
  }
  
  @media (max-width: 991px) {
    /* line 2, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part {
      padding: 70px 0px 25px;
      background-color: #E9E2FF;
    }
  }
  
  /* line 16, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  /* .footer_part img {
    margin-bottom: 35px;
  } */
  
  @media (max-width: 576px) {
    /* line 20, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part .single_footer_part {
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 20, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part .single_footer_part {
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 20, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part .single_footer_part {
      margin-bottom: 20px;
    }
  }
  
  /* line 37, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .single_footer_part h4 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
  }
  
  @media (max-width: 576px) {
    /* line 37, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part .single_footer_part h4 {
      margin-bottom: 15px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 37, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part .single_footer_part h4 {
      margin-bottom: 15px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 37, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part .single_footer_part h4 {
      margin-bottom: 15px;
    }
  }
  
  /* line 59, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .single_footer_part p {
    margin-bottom: 10px;
  }
  
  /* line 65, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .single_footer_part .list-unstyled li a {
    color: #888888;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  /* line 70, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .single_footer_part .list-unstyled li a:hover {
    color: #ff4800 !important;
  }
  
  /* line 77, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .single_footer_part .social_icon {
    float: left;
    margin-top: 38px;
  }
  
  @media (max-width: 991px) {
    /* line 77, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part .single_footer_part .social_icon {
      margin-top: 15px;
    }
  }
  
  /* line 90, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .single_footer_part .social_icon li a {
    margin-left: 0;
    margin-right: 25px;
  }
  
  /* line 99, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .single_footer_part .mail_part {
    position: relative;
  }
  
  /* line 102, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .single_footer_part .mail_part input {
    padding: 9px 22px;
    font-size: 13px;
    border-radius: 50px;
    border: 2px solid #fff;
    margin-top: 20px;
    width: 100%;
    background-color: #f9f9fe;
    border: 1px solid #ebebeb;
  }
  
  /* line 113, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .single_footer_part .mail_part .email_icon {
    position: absolute;
    right: 0px;
    top: 20px;
    width: 60px;
    height: 39px;
    background-color: #ff4800;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    line-height: 10px;
    border: 2px solid #ff4800;
  }
  
  /* line 129, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part hr {
    background-color: #cad7dc;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  
  /* line 135, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .footer_icon {
    text-align: right;
  }
  
  /* line 138, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .footer_icon li {
    display: inline-block;
  }
  
  /* line 141, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .footer_icon li a {
    font-size: 14px;
    color: #888888;
    margin-left: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  @media (max-width: 576px) {
    /* line 141, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part .footer_icon li a {
      margin-left: 0px;
      margin-right: 25px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 141, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part .footer_icon li a {
      margin-left: 0px;
      margin-right: 25px;
    }
  }
  
  /* line 162, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .footer_icon li a :hover {
    color: #ff4800;
  }
  
  @media (max-width: 576px) {
    /* line 135, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part .footer_icon {
      float: left;
      margin-top: 15px;
    }
  }
  
  /* line 181, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .copyright_text p {
    color: #888;
  }
  
  /* line 185, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .copyright_text span {
    color: #ff4800;
    font-size: 12px;
  }
  
  @media (max-width: 991px) {
    /* line 180, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part .copyright_text {
      text-align: center !important;
    }
  }
  
  /* line 197, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .copyright_text p a {
    color: #ff4800;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  /* line 201, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .copyright_text p a:hover {
    color: #ff4800;
  }
  
  /* line 206, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
  .footer_part .info {
    color: red !important;
  }
  
  @media (max-width: 991px) {
    /* line 211, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_footer.scss */
    .footer_part .footer_icon {
      text-align: center;
      float: none;
    }
  }