.profileiconfontaw{
    font-size: 50px;
    margin-bottom: 10px;
}

.profileicon {
    margin-top: 25px;
    color: rgb(49, 175, 224);
    z-index: 999;
}
.profileicon:hover {
    cursor: pointer;
    color: midnightblue;
}

#profilediv {
    display: none;
    border: 1px solid darkgrey;
    padding: 15px;
    box-shadow: 2px 2px 10px darkgrey;
    transform: translateX(15px);
    float: left;
}

#profilediv p:hover {
    color: mediumblue;
}